.portfolio-section {
    position: relative;
}

.portfolio-wrapper {
    margin: 0 auto;
    min-height: 100vh;
}

.portfolio-text {
    max-width: 1440px;
    margin: 0 auto;
}

.portfolio-title {
    font-size: 64px;
    font-weight: 600;
    line-height: 70px;
    color: var(--primary-purple);
}

.portfolio-description {
    font-size: 16px;
    line-height: 24px;
    color: var(--text-white);                 
    font-weight: 400;
}

.portfolio-swiper {
    position: relative; /* Додано */
}

.swiper {
    overflow: visible;
    min-height: 60vh;
    position: relative;
}

.swiper-wrapper.slider-wrapper {
    margin-top: 70px;
    overflow: visible;
}

.swiper-slide {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.swiper-slide-active {
    transform: scale(1.2);
    & .portfolio-img {
        height: 520px;
        width: 360px;
        border-radius: 32px;
    }
}

.portfolio-img {
    width: 360px;
    height: 420px;
    object-fit: cover;
    border-radius: 15px;
}

/* Оновлені стилі для кнопок навігації */
.swiper-button-prev.slider-button, 
.swiper-button-next.slider-button {
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 5px;
    background: var(--primary-purple);
    color: var(--text-white);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -100px; /* Позиціонування знизу */
    z-index: 1;
}

/* Позиціонування кнопок окремо */
.swiper-button-prev.slider-button {
    right: 70px; /* Відступ для попередньої кнопки */
}

.swiper-button-next.slider-button {
    right: 0; /* Притискаємо наступну кнопку до правого краю */
}

/* Прибираємо стандартні стрілки Swiper */
.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}